<h1 class="uppercase">Personajes de Los Simpsons</h1>
<div
    id="characters"
    style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 1.5rem; margin-top: 2rem;"
>
</div>
<button id="loadMore" style="margin-top: 2rem;">Cargar más</button>
