<section class="flex flex-col items-center justify-center p-8 z-10">
    <h2
        class="text-3xl sm:text-4xl font-extrabold mb-4 text-simpsons-negro text-center"
    >
        ¿Te apetece una ración de sabiduría Springfield?
    </h2>

    <p class="text-lg mb-8 text-center max-w-lg">
        Suscríbete para recibir citas icónicas de Homer y los mejores datos
        curiosos, ¡directos a tu buzón!
    </p>

    <form class="flex flex-col gap-4 w-full max-w-md">
        <input
            type="email"
            placeholder="Introduce tu e-mail aquí..."
            required
            class="p-3 rounded-lg border-4 border-simpsons-negro text-lg focus:ring-4 focus:ring-simpsons-amarillo"
        />

        <button
            type="submit"
            class="w-fit mx-auto !bg-simpsons-rosa-dona text-simpsons-negro
               text-xl sm:text-2xl py-4 sm:py-3 px-7 sm:px-6
               rounded-full border-[5px] sm:border-4 border-simpsons-negro
               shadow-[6px_6px_0_#000000]
               hover:bg-pink-600 focus:bg-pink-600 active:bg-pink-700 hover:text-white hover:shadow-[3px_3px_0_#000000] hover:translate-x-[3px] hover:translate-y-[3px]
               transition duration-300"
        >
            ¡D'OH! ¡DAME LA CITA!
        </button>
    </form>
</section>
