---
import '@fontsource/bangers';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>The Simpsons</title>
	</head>
	<body>
		<div>
			<slot />
		</div>
	</body>
</html>

<style is:global>
	html{
		font-family: 'Bangers', system-ui, sans-serif;
		background-image: url('/public/clouds-bg.jpg');
	}
</style>